<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Principal admin</title>
</head>
<body>
    <a target="__blank" href="{% url 'usuarios:rUsuarios' %}">Usuarios</a>
    <a target="__blank" href="{% url 'usuarios:rZonas' %}">Zonas</a>
    <a target="__blank" href="">Categorías</a>
    <a target="__blank" href="">Tipos</a>
    <a target="__blank" href="">Gerentes</a>
    <a target="__blank" href="">FanPages</a>
    <a target="__blank" href="">Solicitudes</a>
    <a target="__blank" href="">Roles y permisos</a>
    {% extends '' %}
</body>
</html>