{% extends "base/base.html" %}

{% block title %}Administrador{% endblock title %}

{% block body %}
<form action="{% url 'usuarios:descarga_factura' %}" method="post" id="f_factura" target="_blank">
    {% csrf_token %}
    <input type="hidden" name="f_anio" value="{{anioActual}}">
    <input type="hidden" name="f_mes" value="{{mesActualNumber}}">
</form>
<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h5>¿Esta seguro(a) de eliminar la solicitud?</h5>
        <form action="" method="post" id="formDelSoli">
            {% csrf_token %}
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary" type="submit">Eliminar</button>
            </p>
        </form>
    </div>
</div>
<div id="modal-example" uk-modal class="uk-modal-container">
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Nueva solicitud</h2>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
            <form action="{% url 'usuarios:rSolicitudes' %}" method="post" enctype="multipart/form-data" id="formSoli">
                {% csrf_token %}
                <p>
                    <div class="titulos">Sobre la Solicitud</div>
                    <div class="formulario">
                        <label for="id_fecha" class="subtitulo">Fecha de solicitud</label>
                        {{rSolicitudes.fecha}}
                    </div>
                    <div class="formulario">
                        <label for="id_folio" class="subtitulo">Folio asignado</label>
                        {{rSolicitudes.folio}}
                    </div>
                    <div class="formulario">
                        <label for="id_categoria" class="subtitulo">Categoría</label>
                        {{rSolicitudes.categoria}}
                    </div>
                </p>
                <p>
                    <div class="titulos">Sobre el Solicitante</div>
                    <div class="formulario" id="cont-select-zona">
                        <label for="id_zona" class="subtitulo">Zona a la que pertenece</label>
                        <!-- Define a que zona pertenece la solicitud -->
                        {{rSolicitudes.zona}}
                    </div>
                    <div class="formulario">
                        <label for="id_gerente" class="subtitulo">Nombre del gerente</label>
                        <select name="gerente" id="id_gerente" required></select>
                    </div>
                    <div class="formulario">
                        <label for="id_tipo" class="subtitulo">Tipo de publicación</label>
                        <select name="tipo" id="new_select_tipo" required></select>
                    </div>
                </p>
                <p>
                    <div class="titulos">Datos de Facebook</div>
                    <div class="formulario">
                        <label for="id_fanPage" class="subtitulo">FanPage</label>
                        <select name="fanPage" id="id_fanPage" required></select>
                    </div>
                    <div class="formulario">
                        <label for="id_zona_fanPage" class="subtitulo">Zona de la FanPage</label>
                        <!-- Define a que zona pertenece la solicitud -->
                        <select name="zona" id="id_zona_fanPage" required></select>
                    </div>
                    <div class="formulario">
                        <label for="id_post" class="subtitulo">Fecha de posteo</label>
                        {{rSolicitudes.post}}
                    </div>
                    <div class="formulario">
                        <label for="id_imagen" class="subtitulo">Captura de publicación</label>
                        {{rImagenes.imagen}}
                    </div>
                    <div class="formulario">
                        <label for="id_link" class="subtitulo">Enlace permanente</label>
                        {{rSolicitudes.link}}
                    </div>
                </p>
                <p>
                    <div class="titulos">Exclusivo Tobe</div>
                    <div class="formulario">
                        <label for="id_material" class="subtitulo">Material para descarga</label>
                        {{rMateriales.material}}
                    </div>
                </p>
                <button type="submit" class="boton-registro-soli iniciarsesion">Guardar</button>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
        </div>
    </div>
</div>
<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Editar solicitud</h2>
        </div>
        <div class="uk-modal-body" id="modal-edit-soli"uk-overflow-auto>
            <!-- <iframe src="/admin/solicitudes/editar/14" width="100%" height="500"></iframe> -->
        </div>
        <div class="uk-modal-footer uk-text-right">
            <!-- <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button> -->
            <!-- <button class="uk-button uk-button-primary" type="button">Save</button> -->
        </div>
    </div>
</div>
{% endblock body %}

{% block mesReferencia %}
{{mesActual}} {{anioActual}}
{% endblock mesReferencia %}

{% block publicacionesTotales %}
{{solicitudes.count}}
{% endblock publicacionesTotales %}

{% block zonalbox %}
{% for zona in zonas %}
<div class="zonal1">{{zona}} <div class="numerozona"><i class="fas fa-caret-right"></i> {{zona.total_soli}}</div>
</div>
{% endfor %}
{% endblock zonalbox %}

{% block menu %}
<div class="boton" id="add-soli"><i class="fas fa-plus"></i>&nbsp;&nbsp;AGREGAR</div>
<div class="boton" data-post="{% url 'usuarios:descarga_pdf' %}" id="makePdf"><i
        class="far fa-file-pdf"></i>&nbsp;&nbsp;GENERAR PDF</div>
<div class="boton" id="download-factura"><i class="fas fa-file-invoice-dollar"></i>&nbsp;&nbsp;DESCARGAR FACTURA</div>
<div class="boton"><a href="{% url 'usuarios:formularios' %}" style="color:white;"><i
            class="fas fa-cog"></i>&nbsp;&nbsp;CONFIGURACIONES</a>
</div>
<div class="boton"><a href="{% url 'usuarios:logout' %}" style="color:white;"><i
            class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;SALIR</a></div>
{% endblock menu %}

{% block tablaDetalles %}
<!-- tabla 01 ---------------------------------------->
<table align="center" cellspacing="0" id="admin">
    <thead>
        <tr>
            <th width="050"><input id="checkAll" type="checkbox"></th>
            <th width="110">Solicitud</th>
            <th width="130">Folio</th>
            <th width="130">Zona</th>
            <th width="180">Gerente</th>
            <th width="180">Categoría</th>
            <th width="130">Tipo</th>
            <th width="140">Fanpage</th>
            <th width="110">Post</th>
            <th width="200">Opciones</th>
        </tr>
    </thead>
    <tbody align="center">
        {% for solicitud in solicitudes %}
        <tr>
            <td><input class="checkDownload" type="checkbox" name="checkbox" value="{{solicitud.id}}"></td>
            <td>{{ solicitud.fecha|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{solicitud.folio}}</td>
            <td>{{solicitud.gerente.zona}}</td>
            <td>{{solicitud.gerente}}</td>
            <td>{{solicitud.categoria}}</td>
            <td>{{solicitud.tipo}}</td>
            <td>{{solicitud.fanPage}}</td>
            <td>{{ solicitud.post|date:"SHORT_DATE_FORMAT" }}</td>
            <td>
                <div uk-lightbox="animation: scale">
                    {% for imagen in solicitud.imagenes_set.all %}
                    <a class="" href="/static/images/{{imagen.imagen}}" data-caption="{{imagen.nombre}}"></a>
                    {% endfor %}
                </div>
                <a href="#" class="open-lightbox"><i class="far fa-image"></i></a>
                <a href="{{solicitud.link}}" title="" target="_blank"><i class="fas fa-link"></i></a>
                <a href="{% url 'usuarios:descarga_multi' solicitud.id %}" title=""><i class="fas fa-download"></i></a>
                <a href="{% url 'usuarios:edSolicitudes' solicitud.id %}" data-id="{{solicitud.id}}" class="editSoli" target="_blank"><i class="far fa-edit"></i></a>
                <a href="{% url 'usuarios:eSolicitudes' solicitud.id %}" uk-toggle="target: #modal-center" class="deleteSoli"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- tabla 01 ---------------------------------------->

{% endblock tablaDetalles %}

{% block javascript %}
{{ block.super }}
<script>
    (function () {
        $('select#id_zona').removeAttr('name')
        // Añade clases para darles estilos css
        $('#modal-example input').addClass('form-input');
        $('#modal-example select').addClass('form-input');
        // Descargar factura
        $('#download-factura').on('click', function () {
            $('#f_factura').submit();
        });
        //Inicialización de la tabla
        var table = $('#admin').DataTable({
            "lengthChange": true,
            "lengthMenu": [[20, 10, -1], [20, 10, "Todas"]],
            "info": false,
            "language": {
                "lengthMenu": "Mostrar _MENU_",
                "paginate": {
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "zeroRecords": "Sin resultados",
                "search": "Filtrar :"
            }
        });

        // Al paginar vuelve a asignar eventos
        $('#admin').on( 'draw.dt', function () {
            $('.open-lightbox').on('click', function () {
				UIkit.lightbox($(this).siblings('div[uk-lightbox]')).show();
			})
            $('.deleteSoli').on('click', function(e){
                e.preventDefault();
                $('#formDelSoli').attr('action', $(this).attr('href'));
            })
            $('.editSoli').on('click', function(e){
                e.preventDefault();
                let id_soli = $(this).attr('data-id');
                if(id_soli.length > 0){
                    editarSolicitudes(id_soli);
                }
            })
        })
        //Input de búsqueda personalizado
        $('#search-table').on('keyup', function () {
            table.search(this.value).draw();
        });

        //Evento para cambiar el select de gerentes
        $('.deleteSoli').on('click', function(e){
            e.preventDefault();
            $('#formDelSoli').attr('action', $(this).attr('href'));
        });
        $('.editSoli').on('click', function(e){
            e.preventDefault();
            let id_soli = $(this).attr('data-id');
            if(id_soli.length > 0){
                editarSolicitudes(id_soli);
            }
        });
        //evento para cambiar el select de gerentes 
        $('select#id_zona').on('change', function() {
            let id_zona = $(this).val();
            if (id_zona.length > 0) {
                getGerentes(id_zona, null);
            }
        });

        //Generando el select de tipo dinámicamente
        getTiposSelect();
        $('select#new_select_tipo').on('change', function(){
            let codename = $("#new_select_tipo option:selected").attr('data-codename')
            if(codename === 'local'){
                getFanpages($("#id_zona").val())
            }
            else{
                getFanpages('*')
            }
        })
        //Generando select multi-zonas de fanpages dinámicamente
        $('select#id_fanPage').on('change', function(){
            let id_fp = $(this).val();
            if (id_fp.length > 0) {
                getZonas(id_fp)
            }
        })

        // Nueva solicitud personalizada
        $('#add-soli').on('click', function(){
            let checked = []
            let checkSoli = $('.checkDownload');
            for (let item of checkSoli) {
                if (item.checked) {
                    checked.push(item)
                    break
                }
            }
            if (checked.length > 0){
                getCustomSoli(checked[0].value)
                UIkit.modal($('#modal-example')).show()
            }
            else{
                clean("id_gerente")
                document.getElementById('formSoli').reset()
                UIkit.modal($('#modal-example')).show()
            }
        });
    })();
    function getCustomSoli(id_soli){
        $.ajax({
            method: "POST",
            url: "ajax/cs",
            beforeSend: function () {
                // preloader.className += ' active';
            },
            data: { csrfmiddlewaretoken: getCSRFTokenValue(), id_soli : id_soli}
        }).done(function (solicitud) {
            $('#id_fecha').val(solicitud.fecha)
            $('#id_folio').val(solicitud.folio)
            $("#id_categoria").val(solicitud.categoriaId)
            $("#id_zona").val(solicitud.zonaGerenteId)     
            $('#new_select_tipo').val(solicitud.tipoId)
            $('#new_select_tipo').change()
            getGerentes(solicitud.zonaGerenteId, solicitud.gerenteId)
        }).fail(function () {
            console.log('falló papá');
        });
    }
    function getTiposSelect(select_tipo){
        $.ajax({
            method: "POST",
            url: "ajax/tp",
            beforeSend: function () {
                // preloader.className += ' active';
            },
            data: { csrfmiddlewaretoken: getCSRFTokenValue()}
        }).done(function (tipos) {
            if (tipos.length > 0) {
                addOptionsSelectTipos(tipos, "new_select_tipo");
            }
        }).fail(function () {
            console.log('falló papá');
        });
    }
    function getFanpages(id_zona) {
        clean("id_fanPage")
        $.ajax({
            method: "POST",
            url: "ajax/fp",
            beforeSend: function () {
                // preloader.className += ' active';
            },
            data: { csrfmiddlewaretoken: getCSRFTokenValue(), id_zona: id_zona }
        }).done(function (fanpages) {
            if (fanpages.length > 0) {
                addOptionsSelect(fanpages, "id_fanPage", null);
            }
        }).fail(function () {
            console.log('falló papá');
        });
    }
    function editarSolicitudes(id_soli){
        $.ajax({
            method: "POST",
            url: "ajax/editarSolicitud",
            beforeSend: function () {
                // preloader.className += ' active';
            },
            data: { csrfmiddlewaretoken: getCSRFTokenValue(), id_soli: id_soli }
        }).done(function (result) {
            $('#modal-edit-soli').empty().append(result)
            UIkit.modal($('#modal-overflow')).show();
            // if (gerentes.length > 0) {
            //     // addOptionsSelect(gerentes, "id_gerente");
            // }
        }).fail(function () {
            console.log('falló papá');
        });
    }
    function getGerentes(id_zona, selected) {
        clean("id_gerente")
        $.ajax({
            method: "POST",
            url: "ajax/gr",
            beforeSend: function () {
                // preloader.className += ' active';
            },
            data: { csrfmiddlewaretoken: getCSRFTokenValue(), id_zona: id_zona }
        }).done(function (gerentes) {
            if (gerentes.length > 0) {
                addOptionsSelect(gerentes, "id_gerente", selected);
            }
        }).fail(function () {
            console.log('falló papá');
        });
    }
    function getZonas(id_fp) {
        clean("id_zona_fanPage")
        $.ajax({
            method: "POST",
            url: "ajax/zn",
            beforeSend: function () {
                // preloader.className += ' active';
            },
            data: { csrfmiddlewaretoken: getCSRFTokenValue(), id_fp: id_fp }
        }).done(function (zonas) {
            if (zonas.length > 0) {
                addOptionsSelectZonas(zonas, "id_zona_fanPage");
            }
        }).fail(function () {
            console.log('falló papá');
        });
    }
    function clean(select_id) {
        $('#' + select_id).empty();
    }
    function addOptionsSelect(data, select_id, selected) {
        $('#' + select_id).append('<option value="" selected="">---------</option>');
        data.forEach(element => {
            if(element.pk === selected){
                $('#' + select_id).append('<option value= ' + element.pk + ' selected>' + element.fields.nombre + '</option>');
            }
            else{
                $('#' + select_id).append('<option value= ' + element.pk + '>' + element.fields.nombre + '</option>');
            }
        });
    }
    function addOptionsSelectZonas(data, select_id) {
        data.forEach(element => {
            $('#' + select_id).append('<option value= ' + element.pk + ' >' + element.fields.nombre + '</option>');
        });
    }
    function addOptionsSelectTipos(data, select_id) {
        $('#' + select_id).append('<option value="" selected="">---------</option>');
        data.forEach(element => {
            $('#' + select_id).append('<option data-codename=' + element.fields.codename + ' value= ' + element.pk + ' >' + element.fields.nombre + '</option>');
        });
    }
    function getCSRFTokenValue() {
        var token = $('input[name="csrfmiddlewaretoken"]').val();
        return token;
    }
</script>
{% endblock javascript %}